*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #292A37;
}
.formulario{
  background-color: #00000091;
}
.botao-adicionar{
  margin-bottom: 10px;
}
.lista-tarefas{
  background-color: #00000091;
}

