{% extends 'base.html' %}

{% block conteudo %}

  <div class="mx-auto p-4 lista-tarefas" style="max-width: 400px;">
    {% if tarefas %}
      <p class="text-center text-light">Minhas <span class="text-primary">Tarefas</span></p>
    {% else %}
      <p class="text-center text-primary">Não há tarefas na lista</p>
    {% endif %}
    {% for tarefa in tarefas %}
      <div class="alert alert-info lista">
        Nome da Tarefa: {{ tarefa.nome }}
        <br>
        Hora: {{ tarefa.hora }}h </span>
        <div>
          <a href="{{ url_for('editar_tarefa', tarefa_id=tarefa.id) }}" class="btn btn-primary btn-block mt-3">Editar</a>
          <form action="{{ url_for('deletar_tarefa', tarefa_id=tarefa.id) }}" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger btn-block mt-3">Excluir</button>
          </form>
        </div>
      </div>
    {% endfor %}
    {% if not tarefas %}
      <div class="text-center">
        <a class="text-light" href="/criar_tarefa">Criar Tarefa</a>
      </div>
    {% else %}
      <div class="text-center">
        <a class="text-light" href="/criar_tarefa">Adcionar Mais Tarefas</a>
      </div>
    {% endif %}
  </div>

{% endblock %}
